---
import Layout from '../layouts/main.astro';
---

<Layout title="404 | DragonForgeNEXUS" description="404 page D:">
	<main>
		<div class="flex flex-1 flex-col justify-center text-white">
      <div class="text-center">
        <h1 class="font-mono text-[25vw]">404</h1>
        <p>If you belive this is an error, please review our <a>reporting 404&apos;s</a> blog post</p>
      </div>
    </div>
	</main>
</Layout>
