---
import Layout from '../layouts/main.astro';
// import { Report } from '../scripts/404webhook'
// const { fourofour = "" } = Astro.params;
// Report(fourofour, 'testing')
---

<Layout title="404 | DragonForgeNEXUS" description="404 page D:">
	<main>
		<div class="flex flex-1 flex-col justify-center text-white">
      <div class="text-center">
        <h1 class="font-mono text-[25vw]">404</h1>
        <!-- <p>If you belive this is an error, please review our <a href="/blog/posts/how-we-do-404-reporting" class="link">reporting 404&apos;s</a> blog post</p> -->
        <p>If you belive this is an error, please report the error in DragonForgeCode&apos;s <a href="https://code.dragonforgenexus.xyz/discord" class="link after:content-['_↗']">Discord Server</a>.</p>
      </div>
    </div>
	</main>
</Layout>
