---
import Layout from '../layouts/main.astro';
---

<Layout title="DragonForgeNEXUS" description="">
	<main>
		<!-- <div class="mx-auto w-1/2 transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-sky-800 duration-300 h-auto lg:px-8 md:px-6 sm:px-4 rounded-lg drop-shadow-lg py-4 text-center my-5">
      <a href="/dfm">
        <div class="text-2xl">DragonForgeMedia</div>
        <div>DragonForgeMedia is a small media studio that makes youtube videos, twitch streams and more social media based stuff.</div>
      </a>
    </div> -->
    <div class="mx-auto w-1/2 transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-[#3f6212] duration-300 h-auto lg:px-8 md:px-6 sm:px-4 rounded-lg drop-shadow-lg py-4 text-center my-5">
      <a href="/blog">
        <div class="text-2xl">DragonForgeNEXUS Blog</div>
      </a>
    </div>
    <div class="mx-auto w-1/2 transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-[#3f6212] duration-300 h-auto lg:px-8 md:px-6 sm:px-4 rounded-lg drop-shadow-lg py-4 text-center my-5">
      <a href="/partners">
        <div class="text-2xl">DragonForgeNEXUS&apos; Partners</div>
        <div>DragonForgeNEXUS&apos; Partnerships.</div>
      </a>
    </div>
	</main>
</Layout>
