---
import Wsdbtn from "../common/wsdbtn.astro"
---
<div class="navbar bg-base-100 drop-shadow-xl">
  <div class="navbar-start">
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl" href="/">DragonForgeNEXUS</a>
  </div>
  <div class="navbar-end">
    <Wsdbtn />
  </div>
</div>