---
import Layout from '../layouts/main.astro';
return Astro.redirect('https://discord.com/invite/Zbxfzx5TfV/')
---

<Layout title="DragonForgeNEXUS Discord Redirect" description="DragonForgeNEXUS Discord Redirect">
	<main>
	</main>
</Layout>
