---
import Layout from '../../layouts/DRAGONFORGEMEDIA.astro';
---

<Layout title="Discord" description="DragonForgeNexus' Discord Server" page="/DragonForgeMedia/Discord">
	<div class="p-6">
		<div class="flex flex-row">
			<div class="basis-1/2">
				<iframe src="https://discord.com/widget?id=1153106771926323270&theme=dark" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin 	allow-scripts" class="min-h-screen w-[100%]"></iframe>
			</div>
			<div class="basis-1/2 text-center">
				<h2 class="text-2xl">DragonForgeNexus Discord</h2>
				<br />
				<h3 class="text-lg">What is the invite link to the Discord server?</h3>
  			<p>You can click <a href="https://discord.dovahkiin.xyz" class="link">here</a> to join the discord server, or you can click on the "join Discord" button on the Discord widget to join the server!</p>
				<h3 class="text-lg">Server Rules</h3>
				<p>Please look <a href="https://discord.com/channels/1153106771926323270/1153108597581033534/1169395682306691204" class="link">here</a> for the rules.</p>
				<h3 class="text-lg">Can I mod?</h3>
				<p>At this moment we are not hiring mods, but you can send in an application <a href="modapplications.altiesgamingstudios.com" class="link">here</a>.</p>
			</div>
		</div>
	</div>
</Layout>