---
import Layout from '../../layouts/DRAGONFORGEMEDIA.astro';
---

<Layout title="DragonForgeGaming" description="Information on DragonForgeMedia's DragonForgeGaming Youtube channel" page="/DragonForgeMedia/AG">
		<div class="p-6">
			<iframe src="https://discord.com/widget?id=1153106771926323270&theme=dark" height="200" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" class=" w-[100%]"></iframe>
			<div class="mt-10 px-2 text-center text-2xl">About DragonForgeGaming</div>
			<p class="text-center">DragonForgeGaming is DragonForgeMedia's First channel started in 2017 by αltie</p>
		</div>
		<div class="container mx-auto px-4 pt-12">
			<div class="text-2xl text-center">Channel</div>
			<div class="overflow-x-auto">
				<table class="table table-xs">
					<thead>
						<tr>
							<th>Channel</th> 
							<th>Subs</th> 
							<th>Link</th> 
						</tr>
					</thead> 
					<tbody>
						<tr>
							<td>DragonForgeGaming</td> 
							<td><span id="ci=UC9RA0TJNGmiMcyFYkhvKrtg">API Unavailable</span></td> 
							<td><a class="link link-hover" href="https://www.youtube.com/@DragonForgeG">YouTube</a></td> 
						</tr>
					</tbody> 
				</table>
			</div>
			<br />
			<div class="container-fluid text-center">
				<h2>Recomended Video</h2>
				<iframe class="w-full aspect-video" src="https://www.youtube-nocookie.com/embed/FZK13YrjThA"></iframe>
			</div>
			<br />
			<div class="container">
			<h2>Videos:</h2>
			<p>We are working on getting a full (live) list of videos made!</p>
			</div>
			<br />
			<script src="../../scripts/sub.js"></script>
		</div>
	</div>
</Layout>