---
import Layout from '../../layouts/DRAGONFORGEMEDIA.astro';
---

<Layout title="FAQ" description="DragonForgeNexus' frequently asked questions/Q&A" page="/DragonForgeMedia/FAQ">
	<div class="p-6">
		<iframe src="https://discord.com/widget?id=1153106771926323270&theme=dark" height="200" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" class=" w-[100%]"></iframe>
		<h1 class="mt-10 px-2 text-center text-4xl">You can submit questions to αltie on discord.</h1>
	</div>
	<div class="container mx-auto mt-4">
		<div class="flex flex-row gap-2">
			<div class="basis-1/2">
				<div class="card w-[100%] bg-base-100 shadow-xl">
					<div class="card-body">
						<p><span class="text-xl">@e23_owner asked:</span><br />What's your favorite game?</p>
						<p><span class="text-xl">Answer:</span><br />This is difficult, but I'd have to say Skyrim</p>
					</div>
				</div>
			</div>
			<div class="basis-1/2 text-center">
				<div class="card w-[100%] bg-base-100 shadow-xl">
					<div class="card-body">
						<h1 class="text-4xl">We need more questions, come ask some on discord</h1>
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
