---
// layout import
import Layout from '../layouts/main.astro';
---

<Layout title="Home" description="DRAGONFORGENEXUS is a group of 'entities' that have Minecraft modpacks, videos, code refrences, and more!" page="/">
	<div class="text-center text-4xl py-1 h-auto bg-lime-800 drop-shadow-lg">
		DRAGONFORGENEXUS
	</div>
	<!-- row 1 -->
	<div class="container mx-auto px-4 text-center pt-3 min-h-screen">
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-sky-800 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">DragonForgeMedia</div>
			<div>DragonForgeMedia is a small media studio that makes youtube videos, twitch streams and more social media based stuff.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="/DragonForgeMedia"><h2>Go To</h2></a></div>
			<br />
		</div>
		<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-red-800 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">DragonForgeCode</div>
			<div>DragonForgeCode has multible pages including: Code Tutorials, Code Librarys, And more!</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-red-900 duration-300"><a><h2>Coming soon</h2></a></div>
			<br />
		</div>
		<!--<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-emerald-800 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">DragonForgeNews</div>
			<div>DragonForgeNews is an article based news for gaming, tech, and media news! this does <strong>NOT</strong> include politics.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center  text-slate-800 transition ease-in-out delay-150  hover:bg-red-900 duration-300"><a><h2>Coming soon</h2></a></div>
			<br />
		</div>
		<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-amber-800 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">DragonForgeNetwork</div>
			<div>DrargonForgeNetwork is a work in progress Minecraft Network.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-red-900 duration-300"><a><h2>Coming soon</h2></a></div>
			<br />
		</div>-->
		<br />
		<!-- <div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-fuchsia-800 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">DragonForgeGaming</div>
			<div>DragonForgeGaming is a game review and news (same gaming stories as Future DragonForgeNews) site.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="/DragonForgeGaming"><h2>Go To</h2></a></div>
			<br />
		</div> -->
		<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-lime-800 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">DragonForgeNEXUS Blog</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="https://blog.dragonforgenexus.xyz/"><h2>Go To</h2></a></div>
			<br />
		</div>
		<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-lime-800 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">DragonForgeNEXUS' Partners</div>
			<div>Dragon Forge NEXUS' Partnerships.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="/Partners"><h2>Go To</h2></a></div>
			<br />
		</div>
		<br />
		<div class="card w-100% bg-base-100 shadow-xl image-full transition ease-in-out delay-150 hover:scale-105">
			<figure><img src="/imgs/Logos/Banner/Solid/3000x1500/PNG/DRAGONFORGENEXUS-solid-banner.png" alt="DragonForgeNEXUS banner" /></figure>
			<div class="card-body">
				<h2 class="card-title">Recommended Blog Post</h2>
				<p>Welcome to DragonForgeNEXUS<br />Welcome to the NEXUS<br />The NEXUS | 2023-11-11</p>
				<div class="card-actions justify-end">
					<a class="btn btn-primary" href="https://blog.dragonforgenexus.xyz/blog/welcome/">View</a>
				</div>
			</div>
		</div>
	</div>
	<br />
</Layout>
