---
// layout import
import Layout from '../layouts/main.astro';
---

<Layout title="Press Kit" description="DragonForgeNEXUS Press Kit" page="/presskit">
  <div class="text-center text-4xl py-1 h-auto bg-lime-800 drop-shadow-lg">
		DragonForgeNEXUS
		<br />
		Press kit
	</div>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/Partners">DragonForgeNEXUS | Presskit</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/">Hub</a></li>
      </ul>
    </div>
  </div>
	<div class="text-center mx-auto container min-h-screen">
    <div class="flex flex-row mt-10">
      <div class="basis-1/2">
        <h2 class="text-xl">Permitted uses</h2>
        <h3 class="text-lg">Text Names</h3>
        <p>you may use:</p>
        <li>DragonForgeNEXUS</li>
        <li>DRAGONFORGENEXUS</li>
        <li>DragonForgeMedia</li>
        <li>DRAGONFORGEMEDIA</li>
        <li>DragonForgeCode</li>
        <li>DRAGONFORGECODE</li>
        <li>DragonForgeNews</li>
        <li>DRAGONFORGENEWS</li>
        <li>DragonForgeNetwork</li>
        <li>DRAGONFORGENETWORK</li>
        <li>DragonForgeGaming</li>
        <li>DRAGONFORGEGAMING</li>
        <p>to mention DragonForgeNEXUS or any of its 'Entities'</p>
        <br />
        <h3 class="text-lg">Logos</h3>
        <p>You may use the logos in any case aproprate, as long as you dont;</p>
				<li>change the logo's color</li>
				<li>change the logo's formating and layout</li>
				<li>keep the size to 1:1 ratio with a minimum size of 50px with a recommened minimum of 100px</li>
      </div>
      <div class="basis-1/2">
        <h2 class="text-xl">Press Kit & Colors</h2>
        <h3 class="text-lg">Press kit download</h3>
        <p>The press kit currently contains logos and banners for each 'Entity' aswell as DragonForgeNEXUS</p>
        <a class="btn btn-info" href="https://github.com/Dragon-Forge-NEXUS/Logos/blob/main/DragonForgeNEXUS%20logos.zip" download>Download</a>
        <br />
        <h3 class="text-lg">Colors</h3>
        <p>below is the list of colors that we use, they are all from <a href="https://tailwindcss.com/">Tailwindcss</a>'s color range</p>
        <div class="flex flex-row mt-10 gap-2">
          <div class="basis-1/2 bg-lime-800 rounded-lg p-2">
            <p>DragonForgeNEXUS</p>
            <p>hex: #3f6212</p>
            <p>tailwindcss: lime-800</p>
          </div>
          <div class="basis-1/2 bg-blue-800 rounded-lg p-2">
            <p>DragonForgeMedia</p>
            <p>hex: #1e40af</p>
            <p>tailwindcss: blue-800</p>
          </div>
        </div>
        <div class="flex flex-row mt-2 gap-2">
          <div class="basis-1/2 bg-violet-800 rounded-lg p-2">
            <p>DragonForgeCode</p>
            <p>hex: #5b21b6</p>
            <p>tailwindcss: violet-800</p>
          </div>
          <div class="basis-1/2 bg-emerald-800 rounded-lg p-2">
            <p>DragonForgeNews</p>
            <p>hex: #065f46</p>
            <p>tailwindcss: emerald-800</p>
          </div>
        </div>
        <div class="flex flex-row mt-2 gap-2">
          <div class="basis-1/2 bg-amber-800 rounded-lg p-2">
            <p>DragonForgeNetwork</p>
            <p>hex: #92400e</p>
            <p>tailwindcss: amber-800</p>
          </div>
          <div class="basis-1/2 bg-fuchsia-800 rounded-lg p-2">
            <p>DragonForgeGaming</p>
            <p>hex: #86198f</p>
            <p>tailwindcss: fuchsia-800</p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="flex flex-row mt-10 gap-2">
      <div class="transition ease-in-out delay-150 hover:scale-105  bg-slate-800 text-slate-400 hover:bg-sky-800 duration-300 h-auto   px-8 rounded-lg drop-shadow-lg basis-1/2">
		  	<div class="text-center text-2xl">DragonForgeMedia</div>
		  	<div>DragonForgeMEDIA is a small media studio that makes  youtube videos, twitch streams and more social media based   stuff.</div>
		  	<br />
		  	<div class="rounded-full bg-teal-400 mx-28 text-center  text-slate-800 transition ease-in-out delay-150  hover:bg-teal-800 duration-300"><a href="/DragonForgeMedia"><h2>Go To</h2></a></div>
		  	<br />
		  </div>
		  <br />
		  <div class="transition ease-in-out delay-150 hover:scale-105  bg-slate-800 text-slate-400 hover:bg-red-800 duration-300 h-auto   px-8 rounded-lg drop-shadow-lg basis-1/2">
		  	<div class="text-center text-2xl">DragonforgeCode</div>
		  	<div>DragonforgeCode has multible pages including: Code   Tutorials, Code Librarys, And more!</div>
		  	<br />
		  	<div class="rounded-full bg-teal-400 mx-28 text-center  text-slate-800 transition ease-in-out delay-150  hover:bg-red-900 duration-300"><a><h2>Coming soon</h2></a></div>
		  	<br />
		  </div>
    </div>
		<div class="flex flex-row mt-2 gap-2">
		  <div class="transition ease-in-out delay-150 hover:scale-105  bg-slate-800 text-slate-400 hover:bg-emerald-800 duration-300  h-auto px-8 rounded-lg drop-shadow-lg basis-1/2">
		  	<div class="text-center text-2xl">DragonforgeNews</div>
		  	<div>DragonforgeNews is an article based news for gaming, tech,   and media news! this does <strong>NOT</strong> include  politics, and if politics is a major part of a subject (such as  the 2023 KOSA[Kids online safety act]), it will be unbiased.</div>
		  	<br />
		  	<div class="rounded-full bg-teal-400 mx-28 text-center  text-slate-800 transition ease-in-out delay-150  hover:bg-red-900 duration-300"><a><h2>Coming soon</h2></a></div>
		  	<br />
		  </div>
		  <br />
		  <div class="transition ease-in-out delay-150 hover:scale-105  bg-slate-800 text-slate-400 hover:bg-amber-800 duration-300  h-auto px-8 rounded-lg drop-shadow-lg basis-1/2">
		  	<div class="text-center text-2xl">DragonforgeNetwork</div>
		  	<div>DragonforgeNetwork is a work in progress Minecraft Network.  </div>
		  	<br />
		  	<div class="rounded-full bg-teal-400 mx-28 text-center  text-slate-800 transition ease-in-out delay-150  hover:bg-red-900 duration-300"><a><h2>Coming soon</h2></a></div>
		  	<br />
		  </div>
    </div>
		<div class="flex flex-row mt-2 gap-2">
		  <div class="transition ease-in-out delay-150 hover:scale-105  bg-slate-800 text-slate-400 hover:bg-fuchsia-800 duration-300  h-auto px-8 rounded-lg drop-shadow-lg basis-1/2">
		  	<div class="text-center text-2xl">DragonforgeGaming</div>
		  	<div>DragonforgeGaming is a game reviews and news (same gaming stories as DragonForgeNews) site.</div>
		  	<br />
		  	<div class="rounded-full bg-teal-400 mx-28 text-center  text-slate-800 transition ease-in-out delay-150  hover:bg-red-900 duration-300"><a><h2>Coming soon</h2></a></div>
		  	<br />
		  </div>
		  <br />
		  <div class="transition ease-in-out delay-150 hover:scale-105  bg-slate-800 text-slate-400 hover:bg-lime-800 duration-300 h-auto  px-8 rounded-lg drop-shadow-lg basis-1/2">
		  	<div class="text-center text-2xl">DragonForgeNEXUS Blog</div>
		  	<br />
		  	<div class="rounded-full bg-teal-400 mx-28 text-center  text-slate-800 transition ease-in-out delay-150  hover:bg-teal-800 duration-300"><a href="/"><h2>Go To</h2></a></div>
		  	<br />
		  </div>
    </div>
		<div class="flex flex-row mt-2 gap-2">
		  <div class="transition ease-in-out delay-150 hover:scale-105  bg-slate-800 text-slate-400 hover:bg-lime-800 duration-300 h-auto  px-8 rounded-lg drop-shadow-lg basis-1/2">
		  	<div class="text-center text-2xl">DragonForgeNEXUS' Partners</div>
		  	<div>DragonForgeNEXUS' Partnerships.</div>
		  	<br />
		  	<div class="rounded-full bg-teal-400 mx-28 text-center  text-slate-800 transition ease-in-out delay-150  hover:bg-teal-800 duration-300"><a href="/Partners"><h2>Go To</h2></a></div>
		  	<br />
		  </div>
      <div class="transition ease-in-out delay-150 hover:scale-105  bg-slate-800 text-slate-400 hover:bg-lime-800 duration-300 h-auto  px-8 rounded-lg drop-shadow-lg basis-1/2">
		  	<div class="text-center text-2xl">Home</div>
		  	<br />
		  	<div class="rounded-full bg-teal-400 mx-28 text-center  text-slate-800 transition ease-in-out delay-150  hover:bg-teal-800 duration-300"><a href="/"><h2>Go To</h2></a></div>
		  	<br />
		  </div>
    </div>
  </div>
	<br />
	<!-- Footer -->
</Layout>