---
import Layout from '../../layouts/Partners.astro';
---

<Layout title="Home" description="DragonForgeNEXUS' Partnerships"  page="/Partners">
	<div class="p-6">
		<h2 class="text-2xl">DragonForgeNEXUS Partnerships</h2>
		<p>DragonForgeNEXUS partnerships are FYTS members and sponserships.</p>
		<p>as of now we do not have any sponsers, thus the page is not available.</p>
	</div>
	<br>
</Layout>
