---
import Layout from '../../layouts/partners.astro';
---

<Layout title="DragonForgeNEXUS' Partners" description="">
	<main>
		<div class="p-6">
      <div class="text-4xl">DragonForgeNEXUS Partnerships</div>
      <br />
      DragonForgeNEXUS partnerships are FYTS members and sponserships.<br />As of now we do not have any sponsors, thus the page is not available.
    </div>
	</main>
</Layout>
