---
import Layout from '../../layouts/Partners.astro';
import Requirements_ from './requirements.md';
---

<Layout title="FYTS Requirements" description="DragonForgeNEXUS' FYTS program Partnerships requirements" page="/Partners/requirements">
  <div class="text-center">
	<Requirements_ />
  </div>
</Layout>