---
import Layout from '../../layouts/DRAGONFORGEGAMING.astro';
---

<Layout title="Home" description="DragonForgeGaming's main page" page="/DragonForgeGaming">
	<div class="p-6">
		<h5 class="text-center text-2xl">About DragonForgeGaming</h5>
	</div>
</Layout>