---
export interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
const full_title = title + ' | DragonForgeNEXUS'
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-800">
	<head>
		<!-- sitemap, favicon, title, and metadata -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="//DRAGON FORGE NEXUS.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{full_title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>