---
export interface Props {
}
import Version from './version.astro'
---
<footer class="footer p-10 bg-base-200 text-base-content">
  <aside>
    <img src="/imgs/Logos/Square/Clear - white/250/DRAGONFORGENEXUS.png" height="90rem" width="90rem">
    <p>DRAGONFORGENEXUS<br />Website made by DragonForgeCode</p>
    <div class="text-slate-700">Website version: <Version /></div>
    <div class="text-slate-700">Generator: {Astro.generator}</div>
  </aside> 
  <nav>
    <header class="footer-title">Entities</header> 
    <a class="link link-hover after:content-['_↗']" href="https://dragonforgenexus.xyz">The NEXUS</a> 
    <!-- <a class="link link-hover" href="/DragonForgeMedia">DragonForgeMedia</a>  -->
    <a class="link link-hover after:content-['_↗']" href="https://code.dragonforgenexus.xyz">DragonForgeCode</a>
    <!-- <a class="link link-hover">DragonForgeNews</a> -->
    <!-- <a class="link link-hover">DragonForgeNetwork</a>  REMOVE COMMENT WHEN FINISHED -->
    <!-- <a class="link link-hover">DragonForgeGaming</a>  -->
    <a class="link link-hover after:content-['_↗']" href="https://nightly.dragonforgenexus.xyz">Nightly NEXUS</a> 
  </nav> 
  <nav>
    <header class="footer-title">Company</header> 
    <!-- <a class="link link-hover">About us</a>  -->
    <!-- <a class="link link-hover">Contact</a>  -->
    <a class="link link-hover" href="/blog">Blog</a> 
    <a class="link link-hover" href="/presskit">Press kit</a>
  </nav> 
  <nav>
    <header class="footer-title">Socials</header> 
    <a class="link link-hover after:content-['_↗']" href="https://twitter.com/@DRAGONFNEXUS">Twitter/X</a> 
    <a class="link link-hover after:content-['_↗']" rel="me" href="https://mastodon.social/@DRAGONFORGENEXUS">Mastodon</a>
    <a class="link link-hover after:content-['_↗']" href="/discord">NEXUS Discord</a>
    <a class="link link-hover after:content-['_↗']" href="https://code.dragonforgenexus.xyz/discord">DFC Discord</a>
  </nav>
</footer>