---
export interface Props {
}
// import Version from './version.astro'
---
<footer class="w-full text-slate-800 bg-slate-400 dark:bg-slate-700 dark:text-slate-400 flex flex-auto transition ease-in-out delay-150 duration-300 items-center p-10 flex-wrap">
  <div class=" md:basis-1/4 text-left">
    <img src="/imgs/Logos/Square/Clear - white/SVG/DRAGONFORGENEXUS.svg" height="90rem" width="90rem" alt="DragonForgeNEXUS Logo">
    <p>DRAGONFORGENEXUS<br />Website made by DragonForgeCode</p>
    <!-- <div class="text-slate-600 dark:text-slate-800">Website version: <Version /></div> -->
    <div class="text-slate-600 dark:text-slate-800">Generator: {Astro.generator}</div>
  </div>
  <div class=" md:basis-1/4 text-center p-5">
    <ul>
      <li>
        <header class="footer-title">Entities</header> 
      </li>
      <li>
      <a class="link link-hover after:content-['_↗']" href="https://www.dragonforgenexus. xyz">The NEXUS</a> 
      </li>
      <!-- <li>
        <a class="link link-hover" href="/DragonForgeMedia">DragonForgeMedia</a>
      </li> -->
      <li>
        <a class="link link-hover after:content-['_↗']" href="https://code.dragonforgenexus.  xyz">DragonForgeCode</a>
      </li>
      <!-- <li>
      <a class="link link-hover">DragonForgeNews</a>
      </li> -->
      <!--<li>
        <a class="link link-hover">DragonForgeNetwork</a>
      </li>-->
      <!--<li>
        <a class="link link-hover">DragonForgeGaming</a>
      </li>-->
      <li>
      <a class="link link-hover after:content-['_↗']" href="https://nightly.dragonforgenexus.xyz">Nightly NEXUS</a>
      </li>
    </ul>
  </div>
  <div class=" md:basis-1/4 text-center p-5">
    <ul>
      <li><header class="footer-title">Company</header></li>
      <!-- <li><a class="link link-hover">About us</a></li>  -->
      <!-- <li><a class="link link-hover">Contact</a></li>  -->
      <li><a class="link link-hover" href="/blog">Blog</a></li>
      <li><a class="link link-hover" href="/presskit">Press kit</a></li>
    </ul>
  </div>
  <div class=" md:basis-1/4 text-center p-5">
    <ul>
      <li><header class="footer-title">Socials</header></li>
      <li><a class="link link-hover after:content-['_↗']" href="https://twitter.com/  @DRAGONFNEXUS">Twitter/X</a></li>
      <li><a class="link link-hover after:content-['_↗']" rel="me" href="https://mastodon.social/ @DRAGONFORGENEXUS">Mastodon</a></li>
      <li><a class="link link-hover after:content-['_↗']" href="/discord">NEXUS Discord</a></li>
      <li><a class="link link-hover after:content-['_↗']" href="https://code.dragonforgenexus.xyz/discord">DFC Discord</a></li>
    </ul>
  </div>
</footer>