---
import { getCollection } from "astro:content";
let allPosts = await getCollection("blog");
allPosts = allPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
let newestPost = allPosts![0];
import BlogPost from "../blog/blogpost.astro";
---
<div class="drawer">
  <input id="whole_site_drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content min-h-screen">
    <slot />
  </div> 
  <div class="drawer-side">
    <label for="whole_site_drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      In site
      <li><a href="/">The NEXUS</a></li>
      <li><a href="/partners">Partners</a></li>
      <li><a href="/blog">Blog</a></li>
      DFN out of site
      <li><a href="https://code.dragonforgenexus.xyz" class="after:content-['_↗']">Code</a></li>
      Discord servers
      <li><a href="/discord" class="after:content-['_↗']">DFN</a></li>
      <li><a href="https://code.dragonforgenexus.xyz/discord" class="after:content-['_↗']">Code</a></li>
      Socials
      <li><a class="after:content-['_↗']" href="https://twitter.com/@DRAGONFNEXUS">Twitter/X</a></li>
      <li><a class="after:content-['_↗']" rel="me" href="https://mastodon.social/@DRAGONFORGENEXUS">Mastodon</a></li>
      <BlogPost url={"/blog/posts/" + newestPost!.slug} title={newestPost!.data.title} image={newestPost!.data.image} date={newestPost!.data.pubDate} author={newestPost!.data.author} description={newestPost!.data.description}/>
    </ul>
  </div>
</div>